.container{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: bisque;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

mat-card{
    min-width: 300px;
}